$green: #a0d1ca;
$red: #ff4444;
$grey: #dadada;

html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;
  }

  .app {
    margin: 0 auto;
    padding: 2rem;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: "BrushUp";
    font-size: 3em;
    text-align: center;
  }

  input {
    font-size: 1.6rem;
    line-height: 2em;
    margin: 1em 0;
    outline: none;
    border: 0.2rem solid lighten($green, 10%);
    padding: 0 1em;

    &:focus {
      border-color: darken($green, 10%);
    }
  }

  button {
    font-size: 1.6rem;
    display: block;
    line-height: 3em;
    border: none;
    border-radius: 3em;
    background-color: $green;
    padding: 0 1.5em;
    outline: none;
    cursor: pointer;
    margin: .5em 0;

    &:not(:disabled):hover {
      background-color: lighten($green, 5%);
    }

    &.reset {
      color: white;
      background-color: $red;

      &:not(:disabled):hover {
        background-color: lighten($red, 5%);
      }
    }

    &:disabled {
      background-color: $grey;
      color: darken($grey, 30%);
    }
  }
}
